ruleCodes = ColorCompatibilityCheck, ColorReadabilityCheck
#ruleCodes = ColorCompatibilityCheck
#ruleCodes = ColorReadabilityCheck

appsFolderPath = D:\TestApps\apps
appImagesFolderPath = D:\TestData\data
debugFolderPath = D:\1\debug
defectImagesFolderPath = D:\1\defects

# complementary monochromatic analogous triadic tetradic
colorCombination = triadic

# normal protanopia deuteranopia tritanopia achromatopsia
colorSpaces = Normal, Tritanopia
