ruleCodes = ColorCompatibilityCheck, ColorReadabilityCheck
#ruleCodes = ColorCompatibilityCheck
#ruleCodes = ColorReadabilityCheck

appsFolderPath = D:\TestApps\test_apps
appImagesFolderPath = D:\TestData\mock_data
debugFolderPath = D:\1\debug

# complementary monochromatic analogous triadic tetradic
colorCombination = triadic

# normal protanopia deuteranopia tritanopia achromatopsia
colorSpaces = Normal, Tritanopia
